body {
    margin-top: 30px;
}

.main-content {
    margin: 0 auto;
    width: 400px;
    height: 80px;
}

.input-area {
    margin-bottom: 20px;
}


.btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.result {
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}